// Body
$body-bg: #f7fbff;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic';
$font-family-text: 'Noto Naskh Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #b92618;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #0B8A07;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-700: #495057 !default;

$primary:#68B984;
$warning:#f28406;
$link-color:#000;
$card-border-color:#68B984;